@font-face {
    font-family: RedHatMedium;
    src: url('../assets/fonts/RedHatDisplay-Medium.woff2');
}

@font-face {
    font-family: RedHatBlack;
    src: url('../assets/fonts/RedHatDisplay-Black.woff2');
}

/* Variables */
:root {
    --cyan300: #8FE3F9;
    --cyan600: #4D96A9;
    
    --purple300: #D9B8FF;
    --purple600: #855FB1;
    
    --slate300: #D1D1DF;
    --slate600: #89897D;
    --slate900: #28283D;

    --white: #FAFAFA;
}

html {
    font-size: 62.5%; /* 10 pixels = 1rem */
}

body {
    background-color: var(--white);
}

.nav {
    padding: 4.8rem 8rem 0;
    display: flex;
    justify-content: center;
}

.hero {
    padding: 6.4rem 0 3.2rem;
}

.combined-img {
    width: 100%;
}

.combined-img-second {
    display: none;
}

@media (min-width: 1400px){
    .combined-img-second {
        display: block;
    }
}

.combined {
    padding: 4.8rem 3.2rem 0;
}

.text-content {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    align-items: center;
}

h1 {
    color: var(--slate900);
    text-align: center;
    font-family: RedHatBlack;
    font-size: 4rem;
    line-height: 110%;
}

.text-content p {
    color: var(--slate600);
    text-align: center;
    font-family: RedHatMedium;
    font-size: 1.6rem;
    line-height: 150%;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    align-items: center;
}

.button-download {
    background-color: var(--cyan600);
    color: var(--white);
    padding: 1.6rem 4rem;
    font-family: RedHatBlack;
    font-size: 1.6rem;
    line-height: 150%;
    border-radius: 2.9rem;
}

.button-download span {
    color: var(--cyan300);
}

.button-what {
    background-color: var(--purple600);
    color: var(--white);
    padding: 1.6rem 4rem;
    font-family: RedHatBlack;
    font-size: 1.6rem;
    line-height: 150%;
    border-radius: 2.9rem;
    max-width: 85%;
}

.main-content {
    padding: 3.2rem 3.2rem 6.4rem;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 6.4rem;
    align-items: center;
    padding-top: 8rem;
}

.number {
    position: relative;
    margin: 0 auto;

    border: solid .1rem var(--slate300);
    width: 5.6rem;
    height: 5.6rem;

    border-radius: 50%;
    font-size: 1.6rem;
    font-family: RedHatBlack;
    color: var(--slate600);
    line-height: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number::before{
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: .1rem;
    height: 8rem;
    background-color: var(--slate300);
    z-index: -1;
}

.image-collage {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.frame-1,
.frame-2 {
    display: flex;
    justify-content: center;
    gap: 1.6rem;
}

.img-collage {
    width: 47.5%;
    border-radius: 5%;
}

.main-text-content {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    text-align: center;
}

.main-text-content p {
    font-family: RedHatMedium;
    font-size: 1.6rem;
    line-height: 150%;
    color: var(--slate600);
}

.title-content {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.title-content p {
    font-family: RedHatBlack;
    font-size: 1.2rem;
    line-height: 110%;
    letter-spacing: .4rem;
    color: var(--cyan600);
    text-transform: uppercase;
}

.title-content h2 {
    font-family: RedHatBlack;
    font-size: 3.2rem;
    line-height: 110%;
    color: var(--slate900);
}