@font-face {
    font-family: RedHatMedium;
    src: url('../assets/fonts/RedHatDisplay-Medium.woff2');
}

@font-face {
    font-family: RedHatBlack;
    src: url('../assets/fonts/RedHatDisplay-Black.woff2');
}

/* Variables */
:root {
    --cyan300: #8FE3F9;
    --cyan600: #4D96A9;
    
    --purple300: #D9B8FF;
    --purple600: #855FB1;
    
    --slate300: #D1D1DF;
    --slate600: #89897D;
    --slate900: #28283D;

    --white: #FAFAFA;
}

html {
    font-size: 62.5%; /* 10 pixels = 1rem */
}

body {
    background-color: var(--white);
}